body {
  width: 100vw;
  height: 100vh;
  border: 5px solid red;
}

.primera-mitad {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  border: 2px solid green;
  padding: 20px 20px;
  height: 50vh;
}

.reviews {
  height: 250px; 
  border: 2px solid red;
}

.rev {
  max-width: 50px;
  height: 62px;
  border: 2px solid blue;
}
